# LipNet 2.0
# 
# author: Omar Adrian Salinas Villanueva, Yao Kai
# repo: https://github.com/fecodoo/lipnet
# upstream: http://www.github.com/omarsalinas16/lipnet
# license: Apache License, Version 2.0

editdistance==0.6.0
imutils==0.5.4
Keras==2.7.0
Keras-Preprocessing==1.1.2
matplotlib==3.5.1
opencv==4.5.5
sk-video==1.1.10
tensorflow-gpu==2.7.2
jiwer==2.3.0
mediapipe==0.8.10